.articles-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100vh;
    padding: 150px 0px;
    margin-left: 20%;
    position: relative;

    .section-header {
        padding: 0 10px;
        font-size: 32px;
        color: #807070;
    }
    
    .section-header::after {
        content: "\"";
    }

    .articles {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .article-item {
            display: flex;
            justify-content: center;
            width: 100%;
            .article {
                display: inline-block;
                margin: 5px 10px;

                h2 {
                    font-size: 18px;
                    color: #807070;
                }
                div {
                    display: flex;
                    justify-content: space-evenly;

                    p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
               }
            }
            .article:hover {
                border-bottom: 0.5px black solid;
            }

        }
    }
}